<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-[500px] min-h-[600px] bg-white rounded-lg shadow-lg p-6 flex flex-col space-y-6">
    <h1 class="text-3xl font-title text-primary-950">Password Manager</h1>

    <form class="space-y-4" (ngSubmit)="editMode ? updatePassword() : addPassword()">
      <div class="flex flex-col">
        <label for="website" class="text-neutral-950">Website</label>
        <input id="website" type="text" placeholder="Enter website" class="border border-neutral-300 rounded-md p-2"
          [(ngModel)]="newPassword.site_name" name="site_name" placeholder="Site Name" required />
      </div>
      <div class="flex flex-col">
        <label for="username" class="text-neutral-950">Username</label>
        <input id="username" type="text" placeholder="Enter username" class="border border-neutral-300 rounded-md p-2"
          [(ngModel)]="newPassword.username" name="username" placeholder="Username" required />
      </div>
      <div class="flex flex-col">
        <label for="password" class="text-neutral-950">Password</label>
        <input id="password" type="password" placeholder="Enter password"
          class="border border-neutral-300 rounded-md p-2" [(ngModel)]="newPassword.encrypted_password" name="password"
          placeholder="Password" required />
      </div>
      <button class="bg-blue-500 text-primary-50 rounded-md py-2" type="submit">{{ editMode ? 'Update' : 'Add' }}
        Password   </button>
      <button class="bg-red-500 text-primary-50 rounded-md py-2" type="button" (click)="cancelEdit()"
        *ngIf="editMode"> Cancel </button>
    </form>
    <div class="space-y-4">
      <h2 class="text-xl text-neutral-950">Stored Passwords</h2>
      <ul>
        <li 
          *ngFor="let password of passwords">
          <div class="border border-neutral-300 rounded-md p-4 flex justify-between items-center">
            <p class="text-neutral-400">{{ password.site_name }}</p>
            <p class="text-neutral-400">{{ password.username }}</p>
            <p class="text-neutral-400 truncate w-[200px]">{{ password.encrypted_password }}</p>
          </div>
          <button class="bg-blue-500 text-primary-50 rounded-md px-4 py-1" (click)="enableEdit(password)">Edit</button>
          <button class="bg-red-500 text-neutral-50 rounded-md px-4 py-1"
            (click)="deletePassword(password.id!)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>